.navbar-dark {
  height: 70px;
  background-color: #546375; }

.footer {
  height: 60px;
  background-color: #546375;
  color: #ccc; }

.main-block {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 70px 0 50px 0;
  margin: 0;
  box-sizing: border-box; }

.side-bar {
  background: #ddd; }

.side-bar .navbar {
  top: 80px;
  left: 30px;
  width: fit-content; }

.side-bar .nav-link {
  color: #666; }

.side-bar .active .nav-link {
  color: #67A4F5; }

.btn.btn-primary {
  background: #67A4F5; }

.empty-block {
  display: none; }

.list-block {
  padding: 20px 0 20px 20px; }

.list-block h4 {
  margin-bottom: 30px; }

.checklist-block {
  padding-bottom: 80px; }
  .checklist-block .btn-save {
    display: none;
    width: 80%; }
  .checklist-block .btn-edit {
    display: none;
    width: 50%; }

.checklist-block.active .operations {
  display: none; }

.checklist-block.active .new-item {
  display: none; }

.checklist-block.active .btn-edit {
  display: block; }

.checklist-block.inactive .btn-save {
  display: block; }

#checklist {
  width: 100%; }

#checklist li {
  height: 40px;
  padding: 5px;
  box-sizing: border-box;
  margin: 1px 0; }

#checklist li .item {
  padding-left: 30px; }

#checklist .operations span {
  color: #67A4F5;
  cursor: pointer; }

#checklist .operations label {
  cursor: pointer; }

.new-item .save-item {
  color: #E0BC51;
  cursor: pointer; }

.new-item {
  width: 80%; }

input.title {
  height: 25px;
  width: 100%;
  border-width: 0 0 1px 0; }

.new-item button {
  height: 25px;
  font-size: 20px;
  line-height: 1;
  padding: 0 6px; }

.form-control:focus {
  background-color: unset;
  border-color: unset;
  box-shadow: unset; }

.form-control {
  border-radius: 0; }

.badge {
  text-transform: uppercase; }

.cate .form-check {
  padding-left: 5px;
  font-size: 20px;
  color: #5182C2;
  font-weight: bold;
  min-height: 40px; }

.cate .form-check-input {
  display: none; }

.badge-secondary {
  background-color: #ddd; }

.li-cate .badge-secondary {
  background-color: #5182C2; }

.collapse-nav-container {
  background: #546375;
  position: fixed;
  top: 70px;
  left: 0; }

.collapse .navbar-nav li.nav-item {
  border-bottom: 1px #FFF solid;
  padding: 5px; }

.collapse .navbar-nav li:last-child {
  border: unset; }

.navbar-dark .navbar-toggler {
  border: none; }

.navbar-toggler:focus, .navbar-toggler:hover {
  border: none; }

button, button:focus {
  outline: unset; }
